.intro-background {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.intro-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture {
  width: 100%;
  height: 100%;
}

.skill-background {
  display: flex;
  flex-direction: column;
  
}

.skill-header {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
  padding: 20px;

}

.skill-items {

  text-indent: 1cm;
  font-size: medium;
  font-weight: lighter;
  color: black;

}
.skill-header:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.skill-items:hover{
  color: black;
}
